@import "../../common/style/variable"; /*引入公共样式*/

.home {
  position: relative;
  .relocation1, .relocation2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .next-btn {
    position: fixed;
    top: 20%;
    left: 45%;
  }
}
